* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
}

.photograph_header {
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}
.photograph_header img {
  object-fit: cover;
  order: 2;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
#contact_modal {
  overflow: auto;
  z-index: 4;
  display: none;
  position: fixed;
  top: 5%;
  left: 30%;
  height: 90%;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.message {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  text-decoration: none;
}
.contact_button,
.send_button {
  order: 1;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 10px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #c4c4c4;
  opacity: 40%;
  cursor: pointer;
}
.photograph_gallery {
  margin: 0 100px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;

  padding: 35px;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

/*main header*/
.photograph_header {
  display: flex;
  flex-direction: row;
}
.photograph_header h3 {
  font-size: 64px;
  color: #d3573c;
}
.photograph_header p {
  font-size: 24px;
  color: #901c1c;
  margin-bottom: 20px;
}
.photograph_header em {
  font-style: normal;
  font-size: 18px;
  color: #525252;
}
.photograph_header div {
  order: 0;
}
/*filtre gallerie*/
.filter {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.filter h1 {
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.filter_content {
  position: relative;
  height: 100%;
}
#filter {
  text-align: center;
  border-radius: 5px;
  background-color: #901c1c;
  color: white;
  font-size: 18px;
  font-weight: 700;
  width: 170px;
  height: 69px;
  border: none;
}
/*gallerie*/
.gallery_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 0 100px;
  margin-top: 70px;
}
.gallery_container article {
  display: flex;
  flex-direction: column;
}
.gallery_container div {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery_container img {
  margin-top: -70px;
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}
.gallery_container video {
  margin-top: -70px;
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}
.gallery_container a {
  text-decoration: none;
}
.gallery_container p {
  color: #901c1c;
  font-size: 24px;
}
.gallery_container span {
  color: #901c1c;
  font-size: 24px;
  font-weight: 500;
}
.gallery_container i {
  padding-left: 5px;
}
.total_likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 376px;
  height: 70px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: fixed;
  bottom: 0px;
  right: 50px;
  background: #db8876;
  padding: 40px;
  font-size: 24px;
  font-weight: 600;
}
.total_likes i {
  margin-left: -80px;
}
.lightbox_content {
  gap: 15px;
  position: fixed;
  display: none;
  top: 0%;
  left: 0;
  padding: 40px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.close_lightbox {
  position: absolute;
  right: 40px;
  top: 40px;
}

.mediaContainer {
  text-align: center;
}
.mediaContainer img {
  width: 80%;
  height: 600px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 30px;
}
.mediaContainer video {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 30px;
}
.close_lightbox img {
  cursor: pointer;
}
.lightbox_content i {
  font-size: 50px;
  color: #901c1c;
}
h4 {
  margin-left: 50px;
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
}
