* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
}

.photograph_header {
  /*display: flex;*/
  align-items: center;
  /*justify-items: center;*/
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}
.photograph_header img {
  object-fit: cover;
  order: 2;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
#contact_modal {
  display: none;
  position: fixed;
  top: 5%;
  left: 10%;
}
.contact_button,
.send_button {
  order: 1;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 10px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.photograph_gallery {
  margin: 0 100px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 115%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
/*main header*/
.photograph_header {
  display: flex;
  flex-direction: row;
}
.photograph_header h3 {
  font-size: 64px;
  color: #d3573c;
}
.photograph_header p {
  font-size: 24px;
  color: #901c1c;
  margin-bottom: 20px;
}
.photograph_header em {
  font-style: normal;
  font-size: 18px;
  color: #525252;
}
.photograph_header div {
  order: 0;
}
/*filtre gallerie*/
.filter {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.filter h1 {
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.filter_content {
  position: relative;
  height: 100%;
}
#filter {
  text-align: center;
  border-radius: 5px;
  background-color: #901c1c;
  color: white;
  font-size: 18px;
  font-weight: 700;
  width: 170px;
  height: 69px;
  border: none;
}
/*gallerie*/
.gallery_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 90px;
  margin: 0 100px;
  margin-top: 70px;
}
.gallery_container article {
  display: flex;
  flex-direction: column;
}
.gallery_container div {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery_container img {
  margin-top: -30px;
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}
.gallery_container video {
  margin-top: -30px;
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}
.gallery_container a {
  text-decoration: none;
}
.gallery_container p {
  color: #901c1c;
  font-size: 24px;
}
.gallery_container span {
  color: #901c1c;
  font-size: 24px;
  font-weight: 500;
}
.gallery_container span i {
  font-size: 21px;
  margin-right: 20px;
  margin-left: 10px;
}
.total_likes {
  width: 376px;
  height: 89px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: fixed;
  bottom: 0px;
  right: 50px;
  background: #db8876;
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.lightbox_content {
  position: fixed;
  display: none;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
}
/*.lightbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
}*/
.mediaContainer img {
  max-width: 100%;
  max-height: 70%;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 30px;
}
.mediaContainer video {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 30px;
}
.close_lightbox img {
  cursor: pointer;
}
.lightbox_content i {
  font-size: 50px;
  color: #901c1c;
}
h4 {
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
}
